<%- include("../../partials/header.ejs"); %>

    <%- include("../../partials/nav.ejs"); %>
    
    <div class="container" id="categories">
        <h2>Categorias</h2>
        <a class="btn btn-dark" href="/admin/categories/new">Criar nova categoria</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
                <% categories.forEach(category => { %>
                    <tr>
                        <th><%= category.id %></th>
                        <th><%= category.title %></th>
                        <th><%= category.slug %></th>
                        <th class="th-button">
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Excluir</button>
                        </th>
                    </tr>
                <% }) %>
            </thead>
        </table>
    </div>

<%- include("../../partials/footer.ejs"); %>
